
@media screen and ( min-width: 600px ) {

    .is-root-container { 
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        max-width: var( --wp--style--global--content-size );

        padding-right: var(--wp--style--root--padding-right);
        padding-left: var(--wp--style--root--padding-left);
    }
    /**

    .editor-styles-wrapper .wp-block[data-align="wide"] { 
        max-width:  var( --max-width ); 
    }

    .editor-styles-wrapper .wp-block[data-align="full"] { 
        max-width: initial; 
    }
    **/
}
